@page "/AgregarTarjeta"
@using MySql.Data.MySqlClient
@using Proyecto_Blog.Controllers
@using Proyecto_Blog.Models
@rendermode InteractiveServer
@inject NavigationManager navigation

<style>
    #etiqueta {
        color: white;
        border: 2px black solid;
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 20px;
        display: inline;
        padding: 8px;
    }
</style>

<div class="container justify-content-center text-center">
    <div class="row align-items-start">
        <div class="col m-5">
            <h1>Agregar Una Nueva Tarjeta</h1>
            <p>Agregue la Informacion necesaria y presione el boton de agregar</p>
            <div class="mb-3">
                <label class="form-label">Titulo De la tarjeta</label>
                <input type="text" @bind="titulo" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Descripcion de la Tarjeta</label>
                <textarea class="form-control" @bind="descripcion" id="exampleInputPassword1"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Agregar URL de la Imagen</label>
                <input type="text" @bind="urlImagen" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Etiqueta de la Tarjeta</label>
                <input type="text" @bind="etiqueta" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <p>Mensaje: @Mensaje</p>
            <button type="submit" class="btn btn-primary" @onclick="Agregar">Agregar</button>
        </div>
        @if (band)
        {
            <script>alert('No a Ingresado todos los datos, intentelo mas tarde')</script>
        }
        <div class="col m-5">
            <h2>Vista Previa</h2>
            <div class="card" style="border: 2px solid black">
                <div class="card text-bg-dark">
                    <img src="@urlImagen" class="card-img" alt="foto de una persona relax">
                    <div class="card-img-overlay">
                        <h5 class="card-title" id="etiqueta">@etiqueta</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@titulo</h5>
                    <p class="card-text">@descripcion</p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public Usuario? datosSesionUsuario { get; set; } = null;
    private string etiqueta = "", titulo = "", descripcion = "", urlImagen = "";
    private bool band = false;
    private string Mensaje = "";

    protected override async Task OnInitializedAsync(){
        var uri = navigation.ToAbsoluteUri(navigation.Uri);
        var queryname = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if(queryname.TryGetValue("id",out var id)){
            int idUsuario = Int32.Parse(EncriptarDatos.Base64Decode(id!));
            datosSesionUsuario = await new ControladorUsuario(new Usuario()).ObtenerDatos(idUsuario);
        }
    }

    private async Task Agregar()
    {
        if (etiqueta == "" && titulo == "" && descripcion == "" && urlImagen == "")
        {
            band = true;
            return;
        }
            Mensaje = datosSesionUsuario?.getNombreUsuario() ?? "Usuario desconocido";
        if(datosSesionUsuario != null){
            ControladorTarjetas controladorTarjetas = new ControladorTarjetas(
            new Tarjetas(etiqueta, titulo, descripcion, datosSesionUsuario.getNombreUsuario(), datosSesionUsuario.getId(), urlImagen));
            await controladorTarjetas.InsetarElementos();
            navigation.NavigateTo($"/?id={EncriptarDatos.Base64Encode(datosSesionUsuario.getId().ToString())}");
        }
        
    }
}